@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --main-color:#254a56;
    --secondary-color: #4da99c;
    --first-color: #fff;
    --third-color: #f3b852; 
    --fourth-color: #d66b57;
    --dark-color:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--secondary-color);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-transform: capitalize;
    text-decoration: none;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--secondary-color);
}

section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: 30rem;
    color:var(--first-color);
    background:var(--main-color);
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--secondary-color);
    color: var(--first-color);
}

.header .header-1{
    background:var(--first-color);
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--main-color);
    letter-spacing: 2px;
}

.header .header-1 .logo i{
    color:var(--main-color);
}

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:var(--first-color);
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--main-color);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--main-color);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--secondary-color);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--main-color);
    cursor: pointer;
    text-decoration: none;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--secondary-color);
}

#search-btn{
    display: none;
}

.bottom-navbar{
    text-align: center;
    background:var(--main-color);
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    color:var(--first-color);
}

.bottom-navbar a:hover{
    background:var(--dark-color);
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}

.login-form-container.active{
    right:0;
}

.login-form-container form{
    background:var(--first-color);
    border:var(--border);
    width:40rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--secondary-color);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--secondary-color);
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color:var(--main-color);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--secondary-color);
    cursor: pointer;
}
/* -------------------- */
.table-section{
    background: url(/image/banner-bg-2.jpg);
    background-size: cover;
    background-position: center;
}

.table-section .glass{
    font-size: 1.5rem;
    text-align: center;
    max-width: 120rem;
    margin-left: auto;
    text-align: center;
    padding:5rem 0;

    /* glass */
    padding: 40px;
    color: #fff;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgb(45,55,68,0.30);
    line-height: 1.5;    
}

#book_form{
    text-align: left;
    font-size: 1.5rem;
}

.form-group input{
    font-size: 1.3rem;
}

/* ------------------------ */

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    /* color:var(--secondary-color); */
    padding:1rem 0;
    background: linear-gradient(52.23deg, var(--main-color), var(--secondary-color) 58.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
    text-decoration: none;
}

.footer .box-container .box a i{
    color:var(--main-color);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    margin-top: 35px;
    width:100%;
}

.footer .share{
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    /* background:var(--main-color); */
    margin:0 .3rem;
    border-radius: 50%; 
    background: linear-gradient(38.23deg, var(--main-color), var(--secondary-color) 79.95%);

}

.footer .share a:hover{
    background:var(--secondary-color);
    text-decoration: none;
}

.footer .credit{
    border-top: var(--border);
    margin-top: 1rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    font-size: 1.3rem;
    color:var(--light-color);
    text-align: center;
}

.footer .credit span{
    color:var(--main-color);
}

/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }

    footer{
        padding:3rem 2rem;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}