@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --main-color:#254a56;
    --secondary-color: #4da99c;
    --first-color: #fff;
    --third-color: #f3b852; 
    --fourth-color: #d66b57;
    --dark-color:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--secondary-color);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--secondary-color);
}

section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--secondary-color);
    background: var(--first-color);
    border:var(--border);
    border-radius: 25px;
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.7rem 3rem;
    border-radius: 30rem;
    color:var(--first-color);
    background:var(--main-color);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--secondary-color);
}

.header .header-1{
    background:var(--first-color);
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--main-color);
    letter-spacing: 2px;
}

.header .header-1 .logo i{
    color:var(--main-color);
}

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:var(--first-color);
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--main-color);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--main-color);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--secondary-color);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--main-color);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--secondary-color);
}

#search-btn{
    display: none;
}

.header .header-2{
    background:var(--main-color);
    padding: 1.2rem;
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color:var(--first-color);
    display: inline-block;
    padding:10px;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background:var(--secondary-color);
    border-radius: 30px;
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}

.bottom-navbar{
    text-align: center;
    background:var(--main-color);
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    color:var(--first-color);
}

.bottom-navbar a:hover{
    background:var(--dark-color);
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}

.login-form-container.active{
    right:0;
}

.login-form-container form{
    background:var(--first-color);
    border:var(--border);
    width:40rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--secondary-color);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--secondary-color);
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color:var(--main-color);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--secondary-color);
    cursor: pointer;
}

.home{
    background: url(../image/banner-bg-2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 42rem;
}

.home .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img{
    height: 25rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .books-slider .stand{
    width:100%;
    margin-top: -2rem;
}

.home .row .content h3{
    color:var(--secondary-color);
    font-size: 4.0rem;
}

.home .row .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    line-height: 2;
    padding:1rem 0;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color:var(--main-color);
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color:var(--secondary-color);
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.4rem;
    color:var(--light-color);
}

/* ------------- Featured ----------------- */

.featured .featured-slider .box{
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border:var(--border);
    text-align: center;
    border-radius: 30px;
}

.featured .featured-slider .box:hover{
    border:var(--border-hover);
}

.featured .featured-slider .box .image{
    padding:1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
}

.featured .featured-slider .box .image img{
    height: 25rem;
}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0; left:0; right: 0;
    background: var(--first-color);
    z-index: 1;
    transform: translateY(-105%);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color:var(--secondary-color);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background:var(--main-color);
    color:var(--first-color);
}

.featured .featured-slider .box .content{
    background:#eee;
    padding:1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color:var(--secondary-color);
}

.swiper-button-next,
.swiper-button-prev{
    border:var(--border-hover);
    height:4rem;
    width:4rem;
    color:var(--secondary-color);
    background: var(--first-color);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--secondary-color);
    color:var(--secondary-color);
}

/*------------newsletter------------------- */

.newsletter{   
    background:url(../image/letter-bg2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
}

.newsletter form{
    max-width: 60rem;
    text-align: center;
    padding:5rem 0;
    margin: auto;

    /*  glassmorphism  */
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    color: #fff;
    border-radius: 30px;
    backdrop-filter: blur(30px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgb(45,55,68,0.30);
    line-height: 1.5;
}

.newsletter form h3{
    font-size: 2.2rem;
    color:var(--first-color);
    padding-bottom: .7rem;
    font-weight: normal;
}

.newsletter form p{
    font-size: 1.5rem;
}

.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    color:var(--dark-color);
    border-radius: .5rem;
    text-transform: none;
}

/* -----------arrivals---------------- */

.arrivals .arrivals-slider .box{
    display: flex;
    align-items:center;
    gap:1.5rem;
    padding:2rem 1rem;
    border:var(--border);
    margin:1rem 0;
    border-radius: 30px;
}

.arrivals .arrivals-slider .box:hover{
    border:var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height:15rem;
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color:var(--secondary-color);
}

.arrivals .arrivals-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--secondary-color);
    padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}

.deal{
    background:url(../image/banner-bg.jpg);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.deal .content{
    flex:1 1 42rem;
}

.deal .image{
    flex:1 1 ;
}

.deal .image img{
    width: 25rem;
}

.deal .content h3{
    color:var(--main-color);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1{
    color:var(--secondary-color);
    font-size: 4rem;
}

.deal .content p{
    padding:1rem 0;
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

/* -----------book-list // collection.html------- */

.book-list{
    display: flex;
    justify-content: center;   
}

.card{
    background-color: #d66b57;
    border-radius: 30px;
    width: 270px;
    margin: 10px;
}

.card h2{
    color:var(--main-color);
    font-size: 2.5rem;
    padding-bottom: .5rem;
    text-align: center;
}

.card p{
    color:var(--first-color);
    font-size: 1.5rem;
    text-align: center;
}
.card .btn-rent{
    text-align: center;
}

.card-image{
    background-color: #f3b852;
    height: 35rem;
    border-radius: 30px;
    background-size: cover;
    margin: 15px;
}

.book-1{
    background-image: url(../image/img-1.jpg);
}

.book-2{
    background-image: url(../image/img-2.jpg);
}

.book-3{
    background-image: url(../image/img-3.jpg);
}



































/* .flex-container {
    display: flex;
    justify-content: space-around;
    background-color: DodgerBlue;
}
  
.flex-container > div {
    background-color: #f1f1f1;
    flex-direction: column;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

 */

/* -----------contact.html------------ */
.contact{
    background:url(../image/banner-bg-2.jpg);    align-items: center;
    background-size: cover;
    background-position: center;
    height: 50rem;
}

.contact .glass{
    display: flex;
    flex-wrap:wrap;
    gap: 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 28px;
    color: #fff;
    border-radius: 30px;
    backdrop-filter: blur(50px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgb(45,55,68,0.30);
    line-height: 1.5;
}

.contact .content{
    flex:1 1 42rem;
}

.contact .content h3{
    color:var(--main-color);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.contact .content h1{
    color:var(--secondary-color);
    font-size: 4rem;
}

.contact .content p{
    padding:1rem 0;
    color:var(--dark-color);
    font-size: 1.4rem;
    line-height: 2;
}

.contact address{
    color: var(--dark-color);
    font-size: 1.5rem;
}

/* ------------customer------------------ */

.reviews .reviews-slider .box{
    border:var(--border);
    border-radius: 30px;
    padding:2rem;
    text-align: center;
    margin:2rem 0;
}

.reviews .reviews-slider .box:hover{
    border:var(--border-hover);
}

.reviews .reviews-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color:var(--secondary-color);
    font-size: 2.2rem;
    padding:.5rem 0;
}

.reviews .reviews-slider .box p{
    color:var(--light-color);
    font-size: 1.4rem;
    padding:1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars{
    padding-top: .5rem;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color:var(--main-color);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color:var(--secondary-color);
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box a i{
    color:var(--main-color);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    margin-top: 35px;
    width:100%;
}

.footer .share{
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--main-color);
    margin:0 .3rem;
    border-radius: 50%; 
}

.footer .share a:hover{
    background:var(--secondary-color);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    font-size: 1.3rem;
    text-align: center;
}
.footer .credit a{
    color: var(--main-color);
}

.footer .credit span{
    color:var(--secondary-color);
}

/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }

    footer{
        padding:3rem 2rem;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display:none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }

    .newsletter{
        background-position: right;
    }

    .newsletter form{
        margin-left:0;
        max-width: 100%;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}